
import /init.recovery.${ro.hardware}.rc

on early-init
    start ueventd


on fs
    # mount All The Things
    mount_all ./fstab.lgl34c
    setprop ro.crypto.fuse_sdcard true


on init
    # See storage config details at http://source.android.com/tech/storage/
    mkdir /mnt/shell 0700 shell shell
    mkdir /mnt/media_rw 0700 media_rw media_rw
    mkdir /storage 0751 root sdcard_r


    export EXTERNAL_STORAGE /storage/emulated/legacy
    export EXTERNAL_ADD_STORAGE /storage/external_SD
    export SECONDARY_STORAGE /storage/external_SD
    export EMULATED_STORAGE_SOURCE /mnt/shell/emulated
    export EMULATED_STORAGE_TARGET /storage/emulated


    # Support legacy paths
    symlink /storage/emulated/legacy /sdcard
    symlink /storage/emulated/legacy /mnt/sdcard
    symlink /storage/emulated/legacy /storage/sdcard0
    symlink /mnt/shell/emulated/0 /storage/emulated/legacy


